
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="submit"]{
    background-color: rgb(37, 157, 204);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

.login-card{
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    margin: 100px auto;
    border: 3px solid grey;
    border-radius: 5px;
    
}
.login-card h3{
    margin-bottom: 20px;
    align-content: center !important;
}
.login-card label{
    display: block;
    
}
.login-card select{
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 5px;
}
.form-group{
    margin-bottom: 18px;
}
input{
    width: 100%;
    font-size: 20px;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 5px;
}
input[type="checkbox"]{
    display: inline;
}